
 .page{
   margin:0 auto;
   padding-bottom: 4em;
   font-family: 'Montserrat',sans-serif;
 }
 #home-news{
   font-size: 30px;
     text-align:center;
     text-transform:uppercase;
     color:#464646;
     height: 45px;
     line-height: 45px;
     overflow:hidden;
     position:relative;
 }.home_header {
     position:absolute;
     width:100%;
     z-index:99;
     color:#000;
     /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); */
 }
 .home_header_on {
     z-index:100;
 }.home_header strong {
     color: #8b1955;
 }.home_header span, .home_header strong {
     position:relative;
     top:-50px;
 }.home_header_on *:nth-child(1) {
      top: 0;
     -webkit-transition: top .6s ease-in-out;
     -moz-transition: top .6s ease-in-out;
      transition: top .6s ease-in-out;
 }.home_header_on *:nth-child(2) {
     top: 0;
     -webkit-transition: top .6s ease-in-out .15s;
     -moz-transition: top .6s ease-in-out .15s;
     transition: top .6s ease-in-out .15s;
 }.home_header_on *:nth-child(3) {
     top: 0;
     -webkit-transition: top .6s ease-in-out .3s;
     -moz-transition: top .6s ease-in-out .3s;
     transition: top .6s ease-in-out .3s;
 }.home_header_out *:nth-child(1) {
     top: 50px;
     -webkit-transition: top .6s ease-in-out;
     -webkit-transition: top .6s ease-in-out;
     -moz-transition: top .6s ease-in-out;
 }.home_header_out *:nth-child(2) {
     top: 50px;
     -webkit-transition: top .6s ease-in-out .15s;
     -moz-transition: top .6s ease-in-out .15s;
     transition: top .6s ease-in-out .15s;
 }.home_header_out *:nth-child(3) {
     top: 50px;
     -webkit-transition: top .6s ease-in-out .3s;
     -moz-transition: top .6s ease-in-out .3s;
     transition: top .6s ease-in-out .3s;
 }